<div id="navbar">
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Strona główna</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a href="" class="nav-link" [routerLink]="['/login']">Zaloguj</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a href="" class="nav-link" (click)="logout()">Wyloguj</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a href="" class="nav-link" [routerLink]="['/signup']">Zarejestruj</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="d-flex justify-content-around" id="icon">
        <p>Twój profil<br><a [routerLink]="['/user']" class="profileIcon"><i class="fa fa-user-circle" aria-hidden="true"></i></a></p>
      </li>
    </ul>
  </nav>
</div>
