nav{
  background-color: black;
  color:white;
  text-decoration: none;
  font-family: Bahnschrift;
  padding: 10px 0px;
  height: 80px;
}
li.nav-item{
  padding-top: 10px;
  width: 20%;
  text-align: center;
}
li#icon{
  text-align: center;
}
a{
  color:white;
}

a.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .8s;
}

a:hover::after{
  width: 100%;
  transition: width .8s;
}

.nav-link{
  cursor: pointer;
}

i{
  font-size: 35px;
}

p{
  position: absolute;
  right: 0;
  margin-right: 20px;
}
