<div class="card" style="width: 18rem; border: 1px solid black;">
  <img [src]="book.cover" alt="Image" class="card-img-top" onerror="this.onerror=null; this.src='assets/images/default_book_cover.jpg'">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text">Autor: {{book.author}}</p>
    <p class="card-text">Wydawca: {{book.publisher}}</p>
    <a [routerLink]="['book',book.bookId]" [state]="{data: book}" class="btn btn-primary">Więcej o książce</a>
    <i class="fa fa-times" aria-hidden="true" id="exitButton" *ngIf="isAdmin" type="button" (click)="deleteBook()"></i>
  </div>
</div>
