<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-6 col-md-6">
      <div id="image">
          <img src="../../../assets/images/user.jpg" class="card-img-top">
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6">
      <div style="margin-right: 30%; margin-top: 20%;">
        <h5 style="text-align: center;font-size: 50px;">Zmień swoje dane:</h5>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="inputName">Imię:</label>
            <input type="text" class="form-control" id="inputName" placeholder="{{user.name}}" formControlName="name">
          </div>
          <div class="form-group">
            <label for="inputSurname">Nazwisko:</label>
            <input type="text" class="form-control" id="inputSurname" placeholder="{{user.surname}}" formControlName="surname">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password:</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
          </div>
          <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <h3 style="display: none; font-size: 40px;text-align: center;color: green; margin-top: 2%;" id="changeSucess">Udało ci się zmienić dane</h3>
    </div>
  </div>
</div>
