.signup{
  padding: 20vh 30vw;
  background-image: url("src/assets/images/library.jpg");
  height: calc(100vh - 50px);
  color: white;
}

#buttonSubmit{
  padding-left: 25%;
}

#formSignUp{
  background: black;
  border: 1px solid white;
  border-radius: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 16%
}
